<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<!-- html code which makes up homepage -->
<div class="row">
	<section style="padding: 0">
		<h1 class="display-none">homepage</h1>
		<div class="hero-image">
			<div class="hero-text">
				<h1 class="main-header">Hell Let Loose Encylopedia</h1>
				<p class="sub-header-text">
					Browse the different clans which play the game
				</p>
			</div>
		</div>
	</section>
	<section>
		<hr class="hr-title-margin" />
		<h2 class="index-sub-title">Description</h2>
		<hr class="hr-title-margin" />
		<div class="homepage-description">
			<p style="margin-bottom: 5rem">
				This site has been created to allow players of Hell Let Loose to find
				different clans which play the game that we all love and enjoy, many
				players find after they have played the game for some months, that they
				are looking for something more organised or competitive. This normally
				leads you to wanting to look for a clan to join, but where do you look
				and who do you join. Well through this site we hope to answer both those
				questions.
			</p>
			<p style="margin-bottom: 5rem">
				You will find on the homepage below a full A-Z list of many of the
				different clans which play the game each with a clickable link. On each
				clan page you will have the same basic layout. It will include the name
				of the clan, clan logo, description of the clan, discord link, website
				link (if they have one) and any upcoming games they have organised to
				play. All of which will allow you to browser around the different clans
				to get a feel of what suites you best and maybe get in contact with the
				later down the line.
			</p>
			<p style="margin-bottom: 5rem">
				On the other hand, if you have found this site and you are an owner of a
				clan or have a high position in the clan then there is something for
				your as well. By creating an account on the site and ticketing the
				option of clan representative in the registration form you will be
				provided with some extra features. As a Clan Representative you will
				have the ability to create your own clan page for your clan as long as
				the name is unique, and you have not already created a clan. Along with
				that you may want to organise games against other clans, well we can
				help you there as well. Once logged in you will find a match request
				link which will take you to a match request form that once filled in
				correctly will send a game request to another clan representative.
			</p>
			<p>
				As a logged in user, you will also find that the navigation bar will
				update to show the notifications link, here you will be able to find any
				match requests that you have sent and any that you have received along
				with a button to view the full details. For any games that you have been
				sent you will have the option to either accept or decline the game
				request and accepted games appear on your clan page. For all logged in
				users they will also find in the notifications tab a link to raise an
				admin ticket, meaning that if you find any issues or need help, please
				raise a ticket and then admin will investigate this and from the status
				you will be able to tell the progress of your request.
			</p>
		</div>
	</section>
	<article>
		<!-- hidden header -->
		<h2 class="display-none">hell let loose clans list</h2>
		<section>
			<hr class="hr-title-margin" />
			<h2 class="index-sub-title">Hell Let Loose Clans</h2>
			<hr class="hr-title-margin" />
		</section>
		<!-- displays clan pages as cards with name and link to full page-->
		<section class="hll-cards">
			<h2 class="display-none">Hell Let Loose Clans</h2>
			{% for clan in clans %}
			<figure>
				<img class="figure-img" src="{% static "img/background-card.png" %}"
				alt="hell let loose image" />
				<p class="card-title">{{ clan.clan_name }}</p>
				<figcaption>
					<p class="fig-hover-colour">{{ clan.clan_name }}</p>
					<a
						class="fig-hover-colour"
						href="{% url 'clan_page' clan.clan_name %}"
						>Find out more</a
					>
				</figcaption>
			</figure>
			{% endfor %}
		</section>
	</article>
</div>
{% endblock %}
