<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<!-- html code which makes up homepage -->
<div class="row">
	<section style="padding: 0">
		<h1 class="display-none">homepage</h1>
		<div class="hero-image">
			<div class="hero-text">
				<h1 style="font-size: 50px">Hell Let Loose Encylopedia</h1>
				<p>Browse the different clans which play the game</p>
			</div>
		</div>
	</section>
	<section>
		<hr />
		<h2 class="index-sub-title">Description</h2>
		<hr />
		<div style="padding: 5rem 10rem">
			<p style="margin-bottom: 5rem">
				Here you will find a list of all the clans that play hell let loose.
				each clan has there own page where you can get more infomration about
				them and maybe even decide to join. each clan will ahve a discord link
				and maybe a website so lots to check out.
			</p>
			<p>
				If you are a clan leader for your clan why not look to create an account
				and create a page for your clan, you can even request games from other
				clans if you are looking for something more competitive and there is
				always admin on hand if you need help or have to raise a ticket
			</p>
		</div>
	</section>
	<article>
		<section>
			<hr />
			<h2 class="index-sub-title">Hell Let Loose Clans</h2>
			<hr />
		</section>
		<!-- displays clan pages as cards with name and link to full page-->
		<section class="hll-cards">
			<h2 class="display-none">Hell Let Loose Clans</h2>
			{% for clan in clans %}
			<figure>
				<img class="figure-img" src="{% static "img/background-card.png" %}"
				alt="hell let loose image" />
				<p class="card-title">{{ clan.clan_name }}</p>
				<figcaption>
					<p class="fig-hover-colour">{{ clan.clan_name }}</p>
					<a
						class="fig-hover-colour"
						href="{% url 'clan_page' clan.clan_name %}"
						>Find out more</a
					>
				</figcaption>
			</figure>
			{% endfor %}
		</section>
	</article>
</div>
{% endblock %}
