<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<!-- html code which makes up homepage -->
<div class="row">
	<section class="pad-0">
		<h1 class="display-none">homepage</h1>
		<div class="hero-image">
			<div class="hero-text">
				<h1 class="main-header">Hell Let Loose Encylopedia</h1>
				<p class="sub-header-text">
					Browse the different clans which play the game
				</p>
			</div>
		</div>
	</section>
	<section>
		<hr class="hr-title-margin" />
		<h2 class="index-sub-title">Description</h2>
		<hr class="hr-title-margin" />
		<div class="homepage-description">
			<p class="margin-b-5rem">
				Welcome to the Hell Let Loose Encyclopaedia. This site has been created
				to allow players of Hell Let Loose to find different clans with which to
				play the game that we all love and enjoy. Many players find, after
				having played the game for some months, that they are looking for
				something more organised or competitive. This normally leads to the
				player wanting to join a clan, but where do you look and who do you
				join? Well, through this site, we hope to answer both of those
				questions.
			</p>
			<p class="margin-b-5rem">
				Below is a list of the many different clans which play the game. They
				are listed from A-Z and each has a clickable link. Each clan page has
				the same basic layout. It includes the clan name, clan logo, description
				of the clan, discord link, website link (if they have one) and any
				upcoming games they have organised to play. This is all you need to
				browse around the different clans and get a feel of what suites you best
				and maybe get in contact with them later down the line.
			</p>
			<p class="margin-b-5rem">
				Clan Owners : If you have stumbled across this site and you are the
				owner of a clan or have a high position in a clan, consider yourself
				invited to add your clan to our list. By creating an account on the site
				and ticking the option of ‘Clan Representative’ in the registration
				form, you will be provided with some extra features. As a Clan
				Representative you have the ability to create your own clan page for
				your clan as long as the name is unique, and you have not already
				created a clan. We can also help to organise games against other clans.
			</p>
			<p>
				Once logged in, you will find a ‘match request link’ which will take you
				to a match request form. Complete this to send a game request to another
				clan representative. Provided you are logged in, you can check progress
				of your game requests in the notifications link on the navigation bar.
				Click the link to view all match requests sent or received. Each of the
				requests is provided with a button to view the full details. For any
				games requests received, you have the option to either accept or decline
				and accepted games appear on your clan page. A link to raise an admin
				ticket is provided on the notifications page. If you are experiencing
				any issues or need help, please raise a ticket for the admin team who
				will investigate. The ‘status’ of your ticket will keep you informed of
				its progress .
			</p>
		</div>
	</section>
	<article>
		<!-- hidden header -->
		<h2 class="display-none">hell let loose clans list</h2>
		<section>
			<hr class="hr-title-margin" />
			<h2 class="index-sub-title">Hell Let Loose Clans</h2>
			<hr class="hr-title-margin" />
		</section>
		<!-- displays clan pages as cards with name and link to full page-->
		<section class="hll-cards">
			<h2 class="display-none">Hell Let Loose Clans</h2>
			{% for clan in clans %}
			<figure>
				<img class="figure-img" src="{% static "img/background-card.png" %}"
				alt="hell let loose image" />
				<p class="card-title">{{ clan.clan_name }}</p>
				<figcaption>
					<p class="fig-hover-colour">{{ clan.clan_name }}</p>
					<a
						class="fig-hover-colour"
						href="{% url 'clan_page' clan.clan_name %}"
						>Find out more</a
					>
				</figcaption>
			</figure>
			{% endfor %}
		</section>
	</article>
</div>
{% endblock %}
