{% extends "base.html" %}
<!--  -->
{% load i18n %}
<!--  -->
{% load account socialaccount %}
<!--  -->
{% block head_title %}
<!--  -->
{% trans "Sign In" %}
<!--  -->
{% endblock %}
<!--  -->
{% block content %}
<div class="row justify-content-md-center">
	<section class="center-content">
		<h1>{% trans "Sign In" %}</h1>
		<p class="margin-bottom">
			{% blocktrans %}Welcome back to the Hell Let Loose Encyclopedia. If you
			have not created an account yet, then
			<a class="link sign-in-and-out-tag" href="{{ signup_url }}">sign up</a>
			first.
			<!-- . -->
			{% endblocktrans %}
		</p>
		<form class="login" method="POST" action="{% url 'account_login' %}">
			{% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
			<input
				type="hidden"
				name="{{ redirect_field_name }}"
				value="{{ redirect_field_value }}"
			/>
			{% endif %}
			<button class="btn btn-signup right login-btn" type="submit">
				{% trans "Sign In" %}
			</button>
		</form>
	</section>
</div>
{% endblock %}
