{% extends "base.html" %} 
{% load i18n %} 
{% block head_title %} 
{% trans "Password Reset" %} 
{% endblock head_title %} 
{% block content %}
<div class="row justify-content-center">
	<article>
		<h1 class="display-none">password reset</h1>
		<section class="margin-b-3rem">
			<hr class="hr-title-margin" />
			<h2 class="">Password Reset</h2>
			<hr class="hr-title-margin" />
			<!-- displays if logged in user is not admin  -->
		</section>
		<section class="password-reset">
			<h1 class="display-none">email reset</h1>
			<p>
				"Forgotten your password? No worries. Please enter the email address on
				the account and you can update your password.
			</p>
			<form method="post" action="{% url 'password_reset_request' %}">
				{% csrf_token %}
				<label for="email">{% trans "Email address" %}</label>
				<input type="email" name="email" id="email" required />
				<button type="submit">{% trans "Submit" %}</button>
			</form>
		</section>
	</article>
</div>
{% endblock content %}
