<!-- templates/account/password_reset.html -->
{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <article>
        <h1 class="display-none">Password Reset</h1>
        <section class="margin-b-3rem">
            <hr class="hr-title-margin" />
            <h2 class="">Password Reset</h2>
            <hr class="hr-title-margin" />
        </section>
        <section class="password-reset">
            <h2 class="display-none">Email Reset</h2>
            <p>
                Forgotten your password? No worries. Please enter the email address on the account and the verification value.
            </p>
            <form method="post" action="{% url 'password_reset_request' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Reset my password</button>
            </form>
        </section>
    </article>
</div>
{% endblock %}
