{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <article>
        <h1 class="display-none">Password Change</h1>
        <section class="margin-b-3rem">
            <hr class="hr-title-margin" />
            <h2 class="">Change Your Password</h2>
            <hr class="hr-title-margin" />
        </section>
        <section class="password-reset">
            <h2 class="display-none">Password Change form</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change my password</button>
            </form>
        </section>
    </article>
</div>
{% endblock %}
