{% extends "base.html" %} 
{% load static %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="row justify-content-center">
    <section class="center-content">
        {% element h1 %}
            {% trans "Signs Up" %}
        {% endelement %}
        {% setvar link %}
            <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        <p class="margin-bottom">{% blocktranslate %}Already have an account? Then please <a class="sign-in-and-out-tag" href="/accounts/login/">sign in</a>.{% endblocktranslate %}</p>
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button tags="prominent,signup" type="submit" %}
                        {% trans "Sign Up" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </section>
</div>
{% endblock content %}
{% block extra_js %}
<!-- JS file static -->
<script src="{% static 'js/email-label.js' %}"></script>
{% endblock extra_js %}
