<!-- loads base.html then this html file inside it -->
{% extends "base.html" %} 
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<h1>clan creation</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis ipsam ipsa sapiente ea vitae consequatur cumque facilis illum totam quas ducimus necessitatibus ut eaque molestiae quos exercitationem, eligendi nisi excepturi accusantium dolor. Ex, delectus! Sit vero voluptates tempora rerum facilis, est quibusdam! Ea quam quasi ipsum tempora magnam eius.</p>
{% endblock %}