<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- loads css and img -->
{% load static %}
<!-- states content to be loaded in base.html  -->
{% block content %} 
<!-- form render -->
{% load crispy_forms_tags %}
<div class="row justify-content-center">
	<article class="center-content">
		<h1 class="display-none">clan creation</h1>
		<section>
			<hr class="hr-title-margin" />
			<h2 class="sub-section-title">Clan Creation</h2>
			<hr class="hr-title-margin" />
			<!-- clan creation form  -->
			<form id="clanCreation" method="post" enctype="multipart/form-data">
				{% comment %} loads form {% endcomment %}
				{{ clanCreation | crispy }} {% csrf_token %}
				{% comment %} checks if user is admin {% endcomment %} 
				{% if users %}
				<label for="clan_rep_name">Clan Rep: </label>
				<select
					id="clan_rep_name"
					class="form-select"
					name="selected_user"
					aria-label="Default select example"
					required
				>
					<option value="" selected>Open this select menu</option>
					{% for user in user_accounts %}
					<option value="{{ user.username }}">{{ user.username }}</option>
					{% endfor %}
				</select>
				<div class="invalid-feedback">
					Please select a clan rep.
				</div>
				{% endif %}
				<button
					id="submitButton"
					type="submit"
					class="btn btn-primary margin-t-1rem"
				>
					Create Clan
				</button>
			</form>
		</section>
	</article>
</div>
{% endblock %}
