<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<!-- index.html content starts here -->
<div class="row">
	<article>
		<section>
			<h3 class="clan-name-title">{{clan.clan_name}}</h3>
			<span class="clan-owner">Clan Owner: {{clan.user}}</span>
		</section>
		<section>
			<img src="" alt="" srcset="" />
			<img
				src="{{clan.image_url}}"
				class="img-fluid rounded-top"
				alt=""
				id="clan-img"
			/>

			<p class="clan-content">{{clan.content}}</p>
			<ul class="external-links">
				<li class="external-links-discord">
					<a href="http://" id="discord-url">{{clan.discord_url}}</a>
				</li>
				<li class="external-links-website">
					<a href="http://" id="website-url">{{clan.website_url}}</a>
				</li>
			</ul>
			{% if current_user.is_superuser %}
			<div class="CRUD">
				<a
					name=""
					id=""
					class="btn btn-primary edit-clan"
					href="{% url 'edit_clan_page' clan.clan_name %}"
					role="button"
				>Edit</a>
				<button
					id="delete-clan-test"
					class="btn btn-secondary btn-delete"
					data-bs-toggle="modal"
					data-bs-target="#deleteClanPage"
				>
					Delete Clan
				</button>
			</div>
		{% elif current_user == clan.user and current_user.userprofile.clan_rep %}
			<div class="CRUD">
				<a
					name=""
					id=""
					class="btn btn-primary edit-clan"
					href="{% url 'edit_clan_page' clan.clan_name %}"
					role="button"
				>Edit</a>
				<button
					id="delete-clan-test"
					class="btn btn-secondary btn-delete"
					data-bs-toggle="modal"
					data-bs-target="#deleteClanPage"
				>
					Delete Clan
				</button>
			</div>
		{% endif %}
		</section>
		<section>
			<h3 class="accepted-matches">Upcoming Games</h3>
			<div class="table-responsive">
				<table class="table table-primary">
					<thead>
						<tr>
							<th scope="col">Column 1</th>
							<th scope="col">Column 2</th>
							<th scope="col">Column 3</th>
						</tr>
					</thead>
					<tbody>
						<tr class="">
							<td scope="row">R1C1</td>
							<td>R1C2</td>
							<td>R1C3</td>
						</tr>
						<tr class="">
							<td scope="row">Item</td>
							<td>Item</td>
							<td>Item</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section>
			<!-- Delete clan confirmation Modal -->
			<div
				class="modal fade"
				id="deleteClanPage"
				tabindex="-1"
				aria-labelledby="deleteClanPageLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="deleteClanPageLabel">
								Confirm Deletion
							</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							Are you sure you want to delete this clan?
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-secondary"
								data-bs-dismiss="modal"
							>
								Cancel
							</button>
							<a
								id="deleteConfirm"
								class="btn btn-danger"
								href="{% url 'delete_clan' clan.clan_name %}"
								>Delete</a
							>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>
{% endblock %}
