<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- loads css  -->
{% load static %}
<!-- states content to be loaded in base.html  -->
{% block content %} {% load crispy_forms_tags %}
<div class="row justify-content-center">
	<article class="center-content">
		<h1 class="display-none">edit clan page</h1>
		<section>
			<hr class="hr-title-margin" />
			<h2>Edit Clan - {{ clans.clan_name }}</h2>
			<hr class="hr-title-margin" />
			<!-- form to edit clan page -->
			<form id="clanCreation" method="post" enctype="multipart/form-data">
				{{ edit_clan_form | crispy }} {% csrf_token %}
				<button id="submitButton" type="submit" class="btn btn-primary">
					Update Clan Page
				</button>
			</form>
		</section>
	</article>
</div>
{% endblock %}
