/******************* base website styling *******************/
html {
	box-sizing: border-box;
	font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5%*/
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/******************* generic styling *******************/
.display-none {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Black Ops One", system-ui !important;
	font-weight: 400;
	font-style: normal;
}

hr {
	border: 0.2rem solid white;
	opacity: 1;
	width: 100%;
}

body {
	font-family: "Special Elite", system-ui;
	font-weight: 400;
	font-style: normal;
	background-color: #595959;
	color: white;
}

body .background-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../img/carentan.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.active {
	color: #ff0000 !important;
}

main {
	min-height: 100vh;
	font-size: 2rem;
}

h1 {
	margin: 3rem 0rem;
	text-align: center;
}

.m-1rem {
	margin-left: -1rem;
}

.btn,
button {
	background-color: #222222;
	border: 2px solid white;
	padding: 1rem 2rem;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	border-radius: 1rem;
}

.btn:hover,
button:hover {
	background-color: #ff0000;
	color: #222222;
	border: 2px solid #ff0000;
}

.margin-b-3rem {
	margin-bottom: 3rem;
}

.margin-b-1rem {
	margin-bottom: 1rem;
}

/******************* clan page styling *******************/

/* delete pop up modal for clan page */
.modal-content {
	background-color: #222222;
}

.clan-card {
	width: 70%;
	margin: auto;
}

.clan-owner {
	margin-bottom: 3rem;
	display: block;
}

.external-links {
	display: flex;
	justify-content: space-between;
}

.external-links-discord:hover,
.external-links-website:hover {
	text-decoration: underline;
	color: #222222;
	font-size: 2rem;
}

/******************* form styling *******************/

select,
input {
	height: 4rem;
}

textarea {
	height: 200px;
}

label {
	color: white;
	text-decoration: underline;
}

ul li a {
	text-decoration: none;
	color: inherit;
	font-size: 1.5rem;
}

/******************* navbar styling *******************/
.logo {
	width: 20rem;
	background-color: #222222;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

.navbar,
footer {
	height: 10rem;
	background-color: #222222 !important;
}

.margin-t-3rem {
	margin-top: 3rem;
}

.margin-t-1rem {
	margin-top: 1rem;
}

.navbar-links {
	font-size: 2rem;
	font-weight: bold;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #ff0000;
}

.navbar-expand-sm .navbar-collapse {
	justify-content: space-between;
}

.navbar-toggler {
	background-color: white;
}

.login-system {
	display: flex;
	width: 15%;
	margin-bottom: 0rem;
	padding-left: 0rem;
	justify-content: space-around;
}

.login-system ul {
	display: flex;
}

.login-system li {
	list-style: none;
}

/******************* HLL clans homepage card *******************/
.index-sub-title {
	text-align: center;
	margin: 3rem 0rem;
}

.hll-cards {
	display: flex;
	flex-wrap: wrap;
}

.card-title {
	width: min-content;
	margin: auto 2rem;
	padding: 1rem;
	font-size: 3rem;
}

.fig-hover-colour {
	color: #ff0000;
	text-decoration: none;
	font-size: 3rem;
}

figure {
	display: grid;
	border-radius: 1rem;
	overflow: hidden;
	cursor: pointer;
	width: 200px;
	margin: 2rem;
	height: 35rem;
	width: 25rem;
	--c: #fff5;
}

figure > * {
	grid-area: 1/1;
	transition: 0.4s;
}

figure figcaption {
	display: grid;
	align-items: end;
	font-size: 2.3rem;
	font-weight: bold;
	color: black;
	padding: 0.75rem;
	background: var(--c, #0009);
	clip-path: inset(0 var(--_i, 100%) 0 0);
	margin: -1px;
	height: 36rem;
}

figure:hover figcaption {
	--_i: 0%;
}

.figure-img {
	width: 141%;
}

figure:hover img {
	transform: scale(1.2);
}

