/******************* base website styling *******************/
html {
	box-sizing: border-box;
	font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5%*/
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/******************* generic styling *******************/
.display-none {
	display: none;
}

/******************* navbar styling *******************/
.navbar-expand-sm .navbar-collapse {
	justify-content: space-between;
}

.login-system {
	display: flex;
	width: 10%;
	margin-bottom: 0rem;
	padding-left: 0rem;
	justify-content: space-around;
}

.login-system ul {
	display: flex;
}

.login-system li {
	list-style: none;
}

/******************* HLL clans homepage card styling *******************/

.hll-cards {
	margin: 0;
	display: grid;
	grid-auto-flow: column;
}

figure {
	display: grid;
	border-radius: 1rem;
	overflow: hidden;
	cursor: pointer;
	width: 200px;
}
figure > * {
	grid-area: 1/1;
	transition: 0.4s;
}
figure figcaption {
	display: grid;
	align-items: end;
	font-family: sans-serif;
	font-size: 2.3rem;
	font-weight: bold;
	color: black;
	padding: 0.75rem;
	background: var(--c, #0009);
	clip-path: inset(0 var(--_i, 100%) 0 0);
	margin: -1px;
}
figure:hover figcaption {
	--_i: 0%;
}
figure:hover img {
	transform: scale(1.2);
}
