/******************* base website styling *******************/
html {
	box-sizing: border-box;
	font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5%*/
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/******************* generic styling *******************/
.display-none {
	display: none;
}

.main-header{
	font-size: 3rem;
}


.sub-header-text{
	font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Black Ops One", system-ui !important;
	font-weight: 400;
	font-style: normal;
}

hr {
	border: 0.2rem solid white;
	opacity: 1;
	width: 100%;
	margin: 0.2rem 0rem;
}

.hr-title-margin{
	margin: 3rem 0rem;
}

body {
	font-family: "Special Elite", system-ui;
	font-weight: 400;
	font-style: normal;
	background-color: #595959;
	color: white;
}

body .background-img {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../img/carentan.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.pd-right{
	padding-right: 1rem;
}

.active {
	color: #ff0000 !important;
}

main {
	min-height: 100vh;
	font-size: 2rem;
}

h1, h2 {
	margin: 3rem 0rem;
	text-align: center;
}

h2{
	font-size: 3rem;
}

.m-1rem {
	margin-left: -1rem;
}

.btn,
button {
	background-color: #222222;
	border: 2px solid white;
	padding: 1rem 2rem;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	border-radius: 1rem;
}

.btn:hover,
button:hover {
	background-color: #ff0000;
	color: #222222;
	border: 2px solid #ff0000;
}

.margin-b-3rem {
	margin-bottom: 3rem;
}

.margin-b-1rem {
	margin-bottom: 1rem;
}

.width-99{
	max-width: 99%;
}

@media (min-width: 426px) {
	.main-header{
		font-size: 4rem;
	}
}

@media (min-width: 769px) {
	.main-header{
		font-size: 5rem;
	}
}



/******************* clan page styling *******************/

/* delete pop up modal for clan page */
.modal-content {
	background-color: #222222;
}

.clan-page{
	margin: auto;
    width: 92%;
}

#clan-img {
	border-radius: 4rem;
	width: 14rem;
}

.clan-owner-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.clan-owner {
	margin: 3rem 0rem;
	display: block;
}

.external-links {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.external-links-discord:hover,
.external-links-website:hover {
	color: #222222;
	font-size: 2rem;
}

@media (min-width: 426px) {
	.clan-card {
		width: 80%;
		margin: auto;
	}
}

@media (min-width: 769px) {
	.clan-card {
		width: 60%;
		margin: auto;
	}
}

/******************* form styling *******************/

select,
input {
	height: 4rem;
}

textarea {
	height: 200px;
}

label {
	color: white;
}

ul li a {
	text-decoration: none;
	color: inherit;
	font-size: 1.5rem;
}

/******************* navbar styling *******************/
.logo {
	width: 20rem;
	background-color: #222222;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

.navbar,
footer {
	height: 10rem;
	background-color: #222222 !important;
}

.margin-t-3rem {
	margin-top: 3rem;
}

.margin-t-1rem {
	margin-top: 1rem;
}

.navbar-links {
	font-size: 1.8rem;
	font-weight: bold;
}

.nav-link {
	color: white;
	padding: 0rem 1rem;
	margin-bottom: 1rem;
}

.nav-link:hover {
	color: #ff0000;
}

.navbar-expand-sm .navbar-collapse {
	justify-content: space-between;
}

.navbar-toggler {
	background-color: white;
}

.navbar-collapse{
	z-index: 1;
    background-color: #222222;
    margin: 0rem -1rem;
}

.login-system {
    display: flex;
    margin-bottom: 0rem;
    padding-left: 0rem;
    width: min-content;
    flex-wrap: wrap;
}

.login-system ul {
	display: flex;
}

.login-system li {
	list-style: none;
}

.nav-line{
	border: 0.2rem solid white;
    opacity: 1;
    margin: 0.2rem 0rem;
	height: 0.5rem;
    width: 100%;
    background-color: white;
}

@media (min-width: 426px) {
	.nav-link {
		margin-bottom: 0rem;
	}
}

@media (min-width: 818px) {
	.navbar-links {
		font-size: 2rem;
	}
}

/******************* index page *******************/

.index-sub-title {
	text-align: center;
	margin: 3rem 0rem;
}

.homepage-description{
	padding: 3rem 2rem;
}

@media (min-width: 426px) {
	.homepage-description{
		padding: 3rem 5rem;
	}
}

@media (min-width: 769px) {
	.homepage-description{
		padding: 5rem 10rem;
	}
}

/******************* HLL clans homepage card *******************/


.hll-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-title {
	width: min-content;
	margin: auto 2rem;
	padding: 1rem;
	font-size: 3rem;
}

.fig-hover-colour {
	color: #ff0000;
	text-decoration: none;
	font-size: 3rem;
}

figure {
	display: grid;
	border-radius: 1rem;
	overflow: hidden;
	cursor: pointer;
	width: 200px;
	margin: 2rem;
	height: 35rem;
	width: 25rem;
	--c: #fff5;
}

figure > * {
	grid-area: 1/1;
	transition: 0.4s;
}

figure figcaption {
	display: grid;
	align-items: end;
	font-size: 2.3rem;
	font-weight: bold;
	color: black;
	padding: 0.75rem;
	background: var(--c, #0009);
	clip-path: inset(0 var(--_i, 100%) 0 0);
	margin: -1px;
	height: 36rem;
}

figure:hover figcaption {
	--_i: 0%;
}

.figure-img {
	width: 141%;
}

figure:hover img {
	transform: scale(1.2);
}

/******************* notification page *******************/

.table, .btn-notification{
	font-size: 1.5rem;
}

@media (min-width: 426px) {
	.table, .btn-notification{
		font-size: 2rem;
	}
}

.table > :not(caption) > * > * {
	background-color: transparent;
}

thead {
	background: #222222;
	color: white !important;
}

tbody {
	background-color: #e5e5e5;
	opacity: 0.8;
}

.table thead th {
	color: white;
}

.status {
	padding: 1rem 0rem !important;
}

.status-icon {
	color: #222222 !important;
}

.fa-clock:before,
.fa-circle-xmark:before,
.fa-circle-check:before {
	color: #222222;
}

.notification-table {
	display: flex;
	flex-direction: column;
	max-width: 95%;
	margin: 3rem auto;
}

@media (min-width: 769px) {
	.notification-table{
		max-width: 70%;
	}
}

/******************* individual notifications *******************/

.notification-message-content {
	word-wrap: break-word;
	max-width: 100%;
}

.notification {
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
	padding-top: 5rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	flex-wrap: wrap;
}

@media (min-width: 426px) {
	.notification {
		max-width: 50%;
	}
}

.notification:last-child {
	padding-top: 0rem;
}

.status-btn {
	flex-direction: row;
	margin-bottom: 3rem;
}

.status-btn a:not(:last-child) {
	margin-right: 2rem;
}

/******************* match request, sign in page *******************/

.center-content {
	width: 86%;
}

.accept-decline{
	margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 426px) {
	.center-content {
		width: 59%;
	}
}

@media (min-width: 769px) {
	.center-content {
		width: 40%;
	}
}

/******************* index page *******************/

.user-status {
	background-color: #222222;
	margin: 0 !important;
	padding-right: 1rem;
	font-size: 1.5rem;
}

/******************* hero homepage image *******************/

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../img/carentan.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 35vh;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	width: 90%;
}

.hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
}

.hero-text button:hover {
	background-color: #555;
	color: white;
}

/******************* footer section *******************/

footer {
	color: white;
}

.footer-style {
	align-content: center;
	text-align: center;
	margin: 4rem 0rem 2rem 0rem;
	font-size: 2rem;
}

.login-btn {
	color: white;
}

.footer-style ul li a:hover {
	text-decoration: underline;
	color: #ff0000;
	font-size: 1.5rem;
}

/******************* admin ticket page *******************/

.admin-message-error {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.admin-message-error i {
	margin: 5rem 0rem;
}

/******************* log in page *******************/

.helptext {
	display: block;
	padding-top: 2rem;
}

label[for="id_login"],
label[for="id_password"] {
	margin-right: 2rem;
}

.login p:has(> label[for="id_remember"]) {
	display: flex;
	align-items: center;
}

.login p:has(> label[for="id_remember"]) label {
	margin-right: 2rem;
}

/******************* sign out page *******************/

.logout-img {
	width: 100%;
}

/******************* sign in page *******************/

label[for="id_username"],
label[for="id_email"],
label[for="id_clan_rep"],
label[for="id_password1"],
label[for="id_password2"] {
	width: 20rem;
}

input[id="id_clan_rep"] {
	width: 2rem;
}

.sign-in-and-out-tag,
.helptext a {
	background-color: #222222;
	padding: 0.7rem;
	border-radius: 1rem;
	color: white;
	border: 2px solid white;
	text-decoration: none;
}

.sign-in-and-out-tag:hover,
.helptext a:hover {
	color: #222222;
	background-color: #ff0000;
	border: 2px solid #ff0000;
}

@media (min-width: 769px) {
	.center-content {
		width: 40%;
	}
}

/******************* 404 page *******************/

.error-page-inner{
	max-width: 50% !important;
	margin: auto;
}


/******************* password reset *******************/

.password-reset{
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 70%;
	margin: auto;
}