{% extends "base.html" %} 
{% load i18n %}
{% load static %} 
{% block content %}
<div class="row justify-content-center">
	<article >
		<h1 class="display-none">password reset</h1>
		<section class="margin-b-3rem">
			<hr class="hr-title-margin" />
			<h2 class="">Password Reset</h2>
			<hr class="hr-title-margin" />
			<!-- displays if logged in user is not admin  -->
		</section>
		<section class="password-reset">
            <h1 class="display-none">email reset</h1>
			<form method="post" action="{% url 'password_reset_form' user.id %}">
				{% csrf_token %}
				<p><span>UserName:</span> {{ user.username }}</p>
				<label for="new_password">New Passowrd</label>
				<input type="password" name="new_password" id="new_password" required />
                <div>
                    <button type="submit">Reset Password</button>
                </div>
			</form>
		</section>
	</article>
</div>
{% endblock content %}
