<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %} {% load crispy_forms_tags %}
<div class="row justify-content-md-center">
	<article class="center-content">
		<section>
			<h1 class="sub-section-title">Admin Ticket Requests</h1>
			<!-- static code show To and From  -->
			<form id="clanRepNotifications" method="post">
				<div class="mb-3">
					<label for="" class="form-label">From:</label>
					<input
						type="text"
						class="form-control"
						name=""
						id=""
						aria-describedby="helpId"
						value="{{ issuer }}"
						readonly
					/>
				</div>
				<div class="mb-3">
					<label for="" class="form-label">To:</label>
					<input
						type="text"
						class="form-control"
						name=""
						id=""
						aria-describedby="helpId"
						value="Admin"
						readonly
					/>
				</div>
				<!-- form to raise ticket  -->
				{{ createNotification | crispy }} {% csrf_token %}
				<button id="submitButton" type="submit" class="btn btn-primary">
					Create Clan
				</button>
			</form>
		</section>
	</article>
</div>

{% endblock %}
