<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<div class="row flex">
	<article>
		<section>
			<hr class="hr-title-margin" />
			<h1 class="notification-title">Notification</h1>
			<hr class="hr-title-margin" />
		</section>
		<!-- displays individual notification -->
		<section class="notification">
			<p><strong>From:</strong> {{notification.issuer}}</p>
			<p><strong>To:</strong> {{notification.receiver}}</p>
			{% if current_user.is_superuser %}
			<p><strong>Sender Clan:</strong> {{notification.clan}}</p>
			{% endif %}
			<p class="notification-message-content">
				<strong>Message:</strong> {{notification.content}}
			</p>
			<p><strong>Status:</strong> {{notification.status}}</p>
			<img src="{% static "img/truck.png" %}" class="img-fluid rounded-top"
			alt="" />
		</section>
		<!-- allows addmin to update notification status -->
		{% if user.is_superuser %}
		<section class="notification status-btn">
			<a
				name=""
				id=""
				class="btn btn-primary edit-clan"
				href="{% url 'update_notification_status' notification.pk 'completed' %}"
				role="button"
				>Completed</a
			>
			<a
				name=""
				id=""
				class="btn btn-primary edit-clan"
				href="{% url 'update_notification_status' notification.pk 'in-progress' %}"
				role="button"
				>In Progress</a
			>
			<a
				name=""
				id=""
				class="btn btn-primary edit-clan"
				href="{% url 'update_notification_status' notification.pk 'rejected' %}"
				role="button"
				>Rejected</a
			>
		</section>
		{% endif %}
		<!-- return to notifications page -->
		<section class="notification">
			<a
				name=""
				id=""
				class="btn btn-primary edit-clan"
				href="{% url 'notifications' %}"
				role="button"
				>Back</a
			>
		</section>
	</article>
</div>
{% endblock %}
