<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<div class="row">
	<!-- displays individual notification -->
	<section>
		<h1>Notifications</h1>
	</section>
	<section class="notification">
		<p>{{notification.issuer}}</p>
		<p>{{notification.receiver}}</p>
		<p>{{notification.clan}}</p>
		<p>{{notification.content}}</p>
		{% if not notification.issuer == request.user%}
		<p>{{notification.status}}</p>
		{% endif %}
	</section>
	<!-- allows addmin to update notification status -->
	{% if user.is_superuser %}
	<section>
		<a
			name=""
			id=""
			class="btn btn-primary edit-clan"
			href="{% url 'update_notification_status' notification.pk 'completed' %}"
			role="button"
			>Completed</a
		>
		<a
			name=""
			id=""
			class="btn btn-primary edit-clan"
			href="{% url 'update_notification_status' notification.pk 'in-progress' %}"
			role="button"
			>In Progress</a
		>
		<a
			name=""
			id=""
			class="btn btn-primary edit-clan"
			href="{% url 'update_notification_status' notification.pk 'rejected' %}"
			role="button"
			>Rejected</a
		>
	</section>
	{% endif %}
	<!-- return to notifications page -->
	<section>
		<a
			name=""
			id=""
			class="btn btn-primary edit-clan"
			href="{% url 'notifications' %}"
			role="button"
			>Back</a
		>
	</section>
</div>
{% endblock %}
