<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<div class="row">
	<section>
		<h1>Notifications</h1>
	</section>
	<section class="admin_notification">
		<figure style="--c: #fff5">
			<img src="https://picsum.photos/id/475/250/300" alt="Mountains" />
			<figcaption>
				Admin Response
				<span>Completed</span>
			</figcaption>
		</figure>
	</section>
	<section class="game_request_message">
		<figure style="--c: #fff5">
			<img src="https://picsum.photos/id/475/250/300" alt="Mountains" />
			<figcaption>
				Game Request
				<a href="{% url 'requested_game' %}">Game Details</a>
			</figcaption>
		</figure>
	</section>
	<section class="admin_ticket">
		<figure style="--c: #fff5">
			<img src="https://picsum.photos/id/475/250/300" alt="Mountains" />
			<figcaption>
				Admin Ticket Request
				<a href="{% url 'admin_ticket' %}">Game Details</a>
			</figcaption>
		</figure>
	</section>
</div>

{% endblock %}
