<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- states content to be loaded in base.html  -->
{% block content %}
<!-- loads css  -->
{% load static %}
<!-- html code which makes up homepage -->
<div class="row justify-content-center">
	<article class="">
		<h1 class="display-none">error page</h1>
		<section class="margin-b-3rem">
			<hr class="hr-title-margin" />
			<h2 class="">Error!</h2>
			<hr class="hr-title-margin" />
			<div class="error-page-inner">
				<p>OOPS! looks like you got a little lost</p>
				<img src="{% static "img/error-img.png" %}" class="img-fluid rounded-top" alt="error image" />
			</div>
		</section>
	</article>
</div>
{% endblock %}
