<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- loads css  -->
{% load static %}
<!-- states content to be loaded in base.html  -->
{% block content %} {% load crispy_forms_tags %}
<!-- index.html content starts here -->

<div class="row justify-content-center">
	<article class="center-content">
		<h1 class="display-none">match request</h1>
		<section>
			<hr class="hr-title-margin" />
			<h2 class="sub-section-title">Match Request</h2>
			<hr class="hr-title-margin" />
			<form method="post" class="match-form">
				<div class="mb-3">
					{% if user.username != "admin" %}
					<label for="from" class="form-label">Inviter:</label>
					<input
						type="text"
						class="form-control"
						id="from"
						aria-describedby="helpId"
						value="{{ request.user }}"
						readonly
					/>
					{% else %}
					<label for="to" class="form-label">Inviter:</label>
					<select
						id="to"
						class="form-select"
						name="selected_user"
						aria-label="Default select example"
					>
						<option selected>Open this select menu</option>
						{% for user in users %}
						<option value="{{user.username}}">{{user.username}}</option>
						{% endfor %}
					</select>
					{% endif %}
				</div>
				{{ match_form | crispy }} {% csrf_token %}
				<button type="submit" class="btn btn-primary margin-t-1rem">
					Submit Match Request
				</button>
			</form>
		</section>
	</article>
</div>

{% endblock %}
