<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- loads css  -->
{% load static %}
<!-- states content to be loaded in base.html  -->
{% block content %} {% load crispy_forms_tags %}
<!-- index.html content starts here -->

<div class="row">
	<section>
		<h2 class="game-title">Game Info</h2>
		{% for match in matches %}
		<p class="enemy-player">{{ match.inviter_clan}}</p>
		<p class="enemy-team">{{ match.invitee_clan}}</p>
		<p class="game-type">{{ match.game_type}}</p>
		<p class="timeanddate">{{ match.match_date}}</p>
		<p class="comments">{{ match.message}}</p>
		<section>
			<a
				name=""
				id=""
				class="btn btn-primary edit-clan"
				href="{% url 'update_game_request' match.pk 'accpeted' %}"
				role="button"
				>Accept</a
			>
			<a
				name=""
				id=""
				class="btn btn-primary edit-clan"
				href="{% url 'update_game_request' match.pk 'rejected' %}"
				role="button"
				>Decline</a
			>
		</section>
		{% endfor %}
	</section>
</div>
{% endblock %}
