<!-- loads base.html then this html file inside it -->
{% extends "base.html" %}
<!-- loads css  -->
{% load static %}
<!-- states content to be loaded in base.html  -->
{% block content %} {% load crispy_forms_tags %}
<!-- displays individual game requests  -->
<div class="row justify-content-center">
	<article class="center-content">
		<h1 class="display-none">requested game</h1>
		<section>
			<hr class="hr-title-margin" />
			<h2 class="game-title">Game Info</h2>
			<hr class="hr-title-margin" />
			<div class="clan-card">
			<!-- game request data  -->
			{% for match in matches %}
			<p class="enemy-player"><strong>From:</strong> {{ match.inviter_clan}}</p>
			<p class="enemy-team"><strong>To:</strong> {{ match.invitee_clan}}</p>
			<p class="game-type"><strong>Game Type:</strong> {{ match.game_type}}</p>
			<p class="timeanddate"><strong>Time and Date:</strong> {{ match.match_date}}</p>
			<p class="comments"><strong>Message:</strong> {{ match.message}}</p>
			<p class="comments"><strong>Status:</strong> {{ match.is_accepted}}</p>
			</div>
		</section>

		{% if match.invitee_clan|stringformat:"s" == user_clan|stringformat:"s" or user.is_superuser %}
		<section class="clan-card accept-decline">
			<h2 class="display-none">update-status</h2>
			<!-- update game request status if they have access  -->
			<a
				class="btn btn-primary edit-clan"
				href="{% url 'update_game_request' match.pk 'accepted' %}"
				role="button"
				>Accept</a
			>
			<a
				class="btn btn-primary edit-clan"
				href="{% url 'update_game_request' match.pk 'rejected' %}"
				role="button"
				>Decline</a
			>
		</section>
		{% endif %} {% endfor %}
		<section class="clan-card">
			<h2 class="display-none">return button</h2>
			<!-- return to notifications page  -->
			<a
				class="btn btn-primary edit-clan"
				href="{% url 'notifications' %}"
				role="button"
				>Back</a
			>
		</section>
	</article>
</div>
{% endblock %}
